<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106933805542-3kc5vale66u6mu8gt10u0jjtbddtac2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106933805542-3kc5vale66u6mu8gt10u0jjtbddtac2t</string>
	<key>API_KEY</key>
	<string>AIzaSyAjTPUru2juWBArRAbGcUopvcObVPwZW9c</string>
	<key>GCM_SENDER_ID</key>
	<string>106933805542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rg.EGames</string>
	<key>PROJECT_ID</key>
	<string>egames-store</string>
	<key>STORAGE_BUCKET</key>
	<string>egames-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106933805542:ios:76c5e6f726c4caaaf2b627</string>
</dict>
</plist>